{% extends 'base_auth.html' %}
{% load i18n %}

{% block content %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% translate "Статусы" %} </h1> 
    <br>  
<a class="nav-link" href="/statuses/create/">{% translate "Создать статус" %}</a>
<table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>{% translate "Имя" %}</th>
        <th>{% translate "Дата создания" %}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        {% for status in statuses %}
        <tr>
            <td>{{ status.id }}</td>
            <td>{{ status.name }}</td>
            <td>{{ status.date_created }}</td>
            <td>
                <a href="{% url 'update_status' status.id %}">{% translate "Изменить" %}</a>
                <br>
                <a href="{% url 'delete_status' status.id %}">{% translate "Удалить" %}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}