{% extends 'base_auth.html' %}
{% load i18n %}

{% block content %}
<div class="table-responsive">
<h1>{% translate "Пользователи" %}</h1>
    <br>
    <table class="table table-striped">
      <thead>
        <tr>
            <th>{% translate "ID" %}</th>
            <th>{% translate "Имя пользователя" %}</th>
            <th>{% translate "Полное имя" %}</th>
            <th>{% translate "Дата создания" %}</th>
            <th></th>
        </tr>
      </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{ user.date_joined }}</td>
                <td>
                    <a href="{% url 'update_user' user.id %}">{% translate "Изменить" %}</a>
                    <br>
                    <a href="{% url 'delete_user' user.id %}">{% translate "Удалить" %}</a>
                </td>
            </tr>
            {% endfor %}   
        </tbody>
    </table>
</div>
{% endblock %}