{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="table-responsive">
<h1>{% translate "Метки" %}</h1>
    <br>
    <a class="nav-link" href="/labels/create/">{% translate "Создать метку" %}</a>
    <table class="table table-striped">
      <thead>
        <tr>
            <th>{% translate "ID" %}</th>
            <th>{% translate "Имя" %}</th>
            <th>{% translate "Дата создания" %}</th>
            <th></th>
        </tr>
      </thead>
        <tbody>
            {% for label in labels %}
            <tr>
                <td>{{ label.id }}</td>
                <td>{{ label.name }}</td>
                <td>{{ label.date_created }}</td>
                <td>
                    <a href="{% url 'update_label' label.id %}">{% translate "Изменить" %}</a>
                    <br>
                    <a href="{% url 'delete_label' label.id %}">{% translate "Удалить" %}</a>
                </td>
            </tr>
            {% endfor %}   
        </tbody>
    </table>
</div>
{% endblock %}