{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="card">
  <div class="card-body p-5 bg-light">
    <div class="display-4">{% translate "Welcome to the Task Manager!" %}</div>
      {% if not request.user.is_authenticated %}
      <p class="lead">{% translate "To get started, please complete the" %} <a href="{% url 'create_user'%}"><b>{% translate "registration" %}</b></a>
      {% translate "or" %} <a href="{% url 'login' %}"><b>{% translate "LogIn" %}</b></a></p>
      {% else %}
      <p class="lead">{% translate "Viewing" %} <a href="{% url 'tasks_list' %}"><b>{% translate "Tasks" %}</b></a></p>
      {% endif %}
  </div>
</div>
{% endblock %}