{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block content %}
<h1 class="my-4">{% translate "Задачи" %} </h1> 
<br>  
<a class="nav-link" href="/tasks/create/">{% translate "Создать задачу" %}</a>
<div class="card">
    <div class="card-body bg-light">
        <form method="get">
            {% bootstrap_form filter.form %}
            <button type="submit" class="btn btn-primary">{% translate "Показать" %}</button>
        </form>
    </div>
</div>
<table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>{% translate "Имя" %}</th>
        <th>{% translate "Статус" %}</th>
        <th>{% translate "Автор" %}</th>
        <th>{% translate "Исполнитель" %}</th>
        <th>{% translate "Дата создания" %}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <hr>
        {% for task in filter.qs %}
        <tr>
            <td>{{ task.id }}</td>
            <td><a href="{% url 'detail_task' task.id%}">{{ task.name }}</a></td>
            <td>{{ task.status }}</td>
            <td>{{task.author.first_name}} {{task.author.last_name}}</td>
            <td>{{task.executor.first_name}} {{task.executor.last_name}}</td>
            <td>{{ task.date_created }}</td>
            <td>
                <a href="{% url 'update_task' task.id %}">{% translate "Изменить" %}</a>
                <br>
                <a href="{% url 'delete_task' task.id %}">{% translate "Удалить" %}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}